
body {
    background: #EEE;
    margin: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#maincol {
    background: white;
    box-shadow: 0px 0px 8px #00000040;
    color: #333;
    max-width: 800px;
    box-sizing: border-box;
    margin: 0px auto;
    padding-left: 40px;
    padding-right: 40px;
}

#header {
    position: relative;
    width: 100%;
    padding-top: 40px;
}

#header .HeaderImage {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #00000040;
}

#header #navbar {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    font-size: 80%;
}

#header .NavItem {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#header .NavItem:first-child {
    margin-left: 0px;
}

.NavItem a {
    color: #555;
}

#footer {
    position: relative;
    width: 100%;
    border-top: 1px solid #DDD;
    padding-bottom: 20px;
    font-size: 80%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

.IssueContents {
    list-style: none;
    padding-left: 10px;
}

.IssueItem {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CommentHead {
    margin-top: 2em;
    font-weight: bold;
    font-size: 90%;
}

.CommentDate {
    font-size: 80%;
    color: #888;
}

.CommentBody {
    font-size: 90%;
}

.DateLine {
    float: right;
    display: inline-block;
    font-size: 90%;
}

.ImageCaption {
    font-weight: bold;
    font-size: 85%;
}

.AboutAuthor {
    font-size: 90%;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #DDD;
}

a {
    color: #20759A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Center {
    text-align: center;
}

.FullWidthImage {
    max-width: 100%;
}

.CenterImage {
    max-width: 100%;
    object-fit: contain;
}
