{% extends "page.html" %}

{% block content %}

<h2>About SPAG</h2>

<p><em>NOTE: This page describes SPAG as of its final issue.
It has not been updated since 2016. Links may be out of date.</em></p>

<p><em>
For more historical index pages, see:
<a href="/archives/index-2011.html">front page circa 2011</a>;
<a href="/archives/index-2006.html">front page circa 2006</a>;
<a href="/archives/spag-faq.html">FAQ circa 2008</a>
</em></p>

<hr>

<p>Welcome to SPAG, the Society for the Promotion of Adventure Games magazine. Founded in 1994 by G. Kevin Wilson, SPAG has been a pillar of the Interactive Fiction community for almost two decades, and we&#8217;re proud to still be doing our part for this vibrant art form.</p>
<p>Interactive Fiction (IF) is one of the oldest forms of computer entertainment, and every year pushes its boundaries further; although the first IF works were indeed games about adventurers, today most are not, and it makes much more sense to talk about IF <em>stories</em> or <em>works</em> rather than IF <em>games</em>. Instead what binds the community together is a love for words and a curiosity to explore interactivity in a way traditional genres cannot.</p>
<p>To get started with IF we recommend the <a href="http://pr-if.org/play/">People&#8217;s Republic of IF playlist</a>, a list of award-winning IF stories, all of which can be played in your web browser. To find further stories, check out the <a href="https://ifdb.org/">Interactive Fiction Database</a>. Many stories discussed in SPAG cannot be played online, so for them we recommend <a href="http://ccxvii.net/gargoyle/">Gargoyle</a>. To discuss the stories you&#8217;re playing, or the one you&#8217;re attempting to write yourself, visit the <a href="https://intfiction.org/forum/">IF Community Forum</a>.</p>
<p>Issues of SPAG are published on a roughly quarterly basis. Sixty issues of SPAG were published before the shift to this website. Find our older issues at the <a href="/archives/">archives</a>. In the past SPAG had a big focus on reviews, but as there are now many websites hosting reviews (such as the IFDB), we want to focus on articles that analyse and synthesise the ideas of the IF world. If you like the sound of that and would like to write for SPAG, please <a href="mailto:spag.mag.if@gmail.com">contact us</a>, we&#8217;re always looking for more authors!</p>

<h3>MASTHEAD (2016)</h3>

<p><strong>Editor-in-Chief</strong>: <strong>Katherine Morayati</strong></p>
<p>Katherine Morayati is an IF author and critic; her credits include <em>Broken Legs</em> (second place, 2009 IF Competition) and a swath of other, smaller works and reviews. In her other life, she’s a music critic who writes as Katherine St. Asaph and helps run a mini-constellation of blogs.</p>
<p><strong>Managing Editor: Matt Carey</strong></p>
<p>Matt Carey is a longtime IF follower and the author of a number of acclaimed (pseudonymous) works, both parser and Twine; he’s also the former editor of the science-fiction zine Labyrinth Inhabitant.</p>
<p><strong>Senior Editor/Webmaster: Dannii Willis</strong></p>
<p>Dannii Willis is the previous editor of SPAG, the maintainer of Parchment and the developer of Kerkerkruip. He hopes to one day produce a work of IF himself, but for now his creativity is directed toward the ones and zeros of technology.</p>
<p><strong>Artist: J. Robinson Wheeler</strong></p>
<p>J. Robinson Wheeler is a freelance author, graphic designer and writer from Austin, Texas, and the author of IF works including <em>Being Andrew Plotkin</em>, <em>Four in One</em> and <em>First Things First</em>.</p>

<h3>EDITORS EMERITUS</h3>

<p>
G. Kevin Wilson, Magnus Olsson, Paul O'Brian, Jimmy Maher, David Monath.
</p>

{% endblock %}
