{% extends "page.html" %}

{% block content %}

<h2>Issue {{ issue.showindex }}:
{% autoescape false -%}
{% if art.alttitle %}{{ art.alttitle }}{% else %}{{ art.showtitle }}{% endif %}
{%- endautoescape -%}
</h2>

{% if art.author %}
<h3>By {{ art.author }} &#x2014; {{ issue.date }}</h3>
{% else %}
<h3>{{ issue.date }}</h3>
{% endif %}

{% autoescape false %}
{{ content }}
{% endautoescape %}

{% if art.comments %}
  <div class="ArticleComments">
  <hr>
  <h3>Reader comments</h3>
  
  {% for com in art.comments %}
    <div class="CommentHead">
      {% if com.authorurl %}
        <a rel="nofollow ugc" href="{{ com.authorurl }}">{{ com.author }}</a>
      {% else %}
        {{ com.author }}
      {% endif %}
    </div>
    <div class="CommentDate">
      {{ com.timestr }}
    </div>
    <div class="CommentBody">
      {% autoescape false %}
      {{ com.body }}
      {% endautoescape %}
    </div>
  {% endfor %}
  </div>
{% endif %}

{% endblock %}
