{% extends "page.html" %}

{% block content %}

    <h2>Welcome to SPAG, the Society for the Promotion of Adventure Games.</h2>
    
    <p>
    Founded in 1994, SPAG was a pillar of the Interactive Fiction
    community for more than two decades. It was dedicated to
    criticism, reviews, and the preservation and furthering of this
    vibrant art form.
    </p>
    
    <p>
    SPAG was founded by G. Kevin Wilson and published regularly through
    2011 by Magnus Olsson, Paul O'Brian, Jimmy Maher, and David Monath.
    It was then revived from 2013 to 2016 by Dannii Willis, Matt Carey,
    and Katherine Morayati.
    </p>

    <h2>Most recent issues</h2>

{% for issue in issues %}

<hr>

<div class="DateLine">{{ issue.date }}</div>
<h3>Issue {{ issue.index }}</h3>

<ul class="IssueContents">
{% for art in issue.articles %}
  <li class="IssueItem">
  {% if art.author %}{{ art.author }}, {% endif %}
  {%- if art.quoted %}&#x201C;{% endif -%}
  <a href="/{{ issue.uri }}/{{ art.uri }}/">
  {%- autoescape false -%}
  {{ art.showtitle }}
  {%- endautoescape -%}
  </a>
  {%- if art.quoted %}&#x201D;{% endif -%}
{% endfor %}
</ul>

{% endfor %}

{% endblock %}
