{% extends "page.html" %}

{% block content %}

<div class="DateLine">{{ issue.date }}</div>
<h2>Issue {{ issue.showindex }}</h2>

<ul class="IssueContents">
{% for art in issue.articles %}
  <li class="IssueItem">
  {% if art.author %}{{ art.author }}, {% endif %}
  {%- if art.quoted %}&#x201C;{% endif -%}
  <a href="#{{ art.uri }}">
  {%- autoescape false -%}
  {{ art.showtitle }}
  {%- endautoescape -%}
  </a>
  {%- if art.quoted %}&#x201D;{% endif -%}
{% endfor %}
</ul>

{% for art in issue.articles %}
<hr>

  <div class="DateLine">(<a href="/{{ uri }}/{{ art.uri }}/">article link</a>)</div>
  <h3 id="{{ art.uri }}">
  {% autoescape false -%}
  {% if art.alttitle %}{{ art.alttitle }}{% else %}{{ art.showtitle }}{% endif %}
  {%- endautoescape -%}
  </h3>

  {% if art.author %}
  <h4>By {{ art.author }}</h4>
  {% endif %}

  {% autoescape false %}
  {{ art.content }}
  {% endautoescape %}

  {% if art.comments %}
  <div class="IssueComments">
  <h4>Reader comments</h4>
  
  {% for com in art.comments %}
    <div class="CommentHead">
      {% if com.authorurl %}
        <a rel="nofollow ugc" href="{{ com.authorurl }}">{{ com.author }}</a>
      {% else %}
        {{ com.author }}
      {% endif %}
    </div>
    <div class="CommentDate">
      {{ com.timestr }}
    </div>
    <div class="CommentBody">
      {% autoescape false %}
      {{ com.body }}
      {% endautoescape %}
    </div>
  {% endfor %}
  </div>
  {% endif %}

{% endfor %}

{% endblock %}
