{% extends "page.html" %}

{% block content %}

<h2>SPAG Review Index</h2>

<p>
This index covers issues 1 through 60. For the contents of issues
61-64, see the <a href="/">front page</a>.
</p>

<p>
You can browse through SPAG game reviews by
<a href="/archives/authors.html">game author</a>,
<a href="/archives/reviewers.html">reviewer</a>,
or game title (starting with):
</p>

<p class="Center">
<a href="/archives/a.html">&nbsp;A&nbsp;</a>
<a href="/archives/b.html">&nbsp;B&nbsp;</a>
<a href="/archives/c.html">&nbsp;C&nbsp;</a>
<a href="/archives/d.html">&nbsp;D&nbsp;</a>
<a href="/archives/e.html">&nbsp;E&nbsp;</a>
<a href="/archives/f.html">&nbsp;F&nbsp;</a>
<a href="/archives/g.html">&nbsp;G&nbsp;</a>
<a href="/archives/h.html">&nbsp;H&nbsp;</a>
<a href="/archives/i.html">&nbsp;I&nbsp;</a>
<a href="/archives/j.html">&nbsp;J&nbsp;</a>
<a href="/archives/k.html">&nbsp;K&nbsp;</a>
<a href="/archives/l.html">&nbsp;L&nbsp;</a>
<a href="/archives/m.html">&nbsp;M&nbsp;</a>
<a href="/archives/n.html">&nbsp;N&nbsp;</a>
<a href="/archives/o.html">&nbsp;O&nbsp;</a>
<a href="/archives/p.html">&nbsp;P&nbsp;</a>
<a href="/archives/q.html">&nbsp;Q&nbsp;</a>
<a href="/archives/r.html">&nbsp;R&nbsp;</a>
<a href="/archives/s.html">&nbsp;S&nbsp;</a>
<a href="/archives/t.html">&nbsp;T&nbsp;</a>
<a href="/archives/u.html">&nbsp;U&nbsp;</a>
<a href="/archives/v.html">&nbsp;V&nbsp;</a>
<a href="/archives/w.html">&nbsp;W&nbsp;</a>
<a href="/archives/x.html">&nbsp;X&nbsp;</a>
<a href="/archives/y.html">&nbsp;Y&nbsp;</a>
<a href="/archives/z.html">&nbsp;Z&nbsp;</a>
</p>

{% endblock %}
